<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例</title>
    <script src="../../../vue框架/vue.js"></script>
</head>
<body>
    <div id="root">
        姓: <input type="text" v-model="firstName"><br>
        名: <input type="text" v-model="lastName"><br>
        姓名: <span>{{fullName}}</span>
    </div>
</body>
<script>
    /*
    计算属性
    1、定义：要用的属性不存在，通过已有的属性计算得来
    2、原理：底层的Object.defineproperty 方法提供的getter和setter方法
    3、get函数什么时候被调用？
    （1）初次读取会被调用一次有缓存
    （2）当依赖的数据发生改变会被再次调用
    4、优势：与methods相比，内部有缓存机制，效率更高，调试方便
    5、备注：
    1、计算属性最终会出现在vm身上，直接读取使用即可
    2、如果计算属性被修改，那必须使用set()函数去响应修改，且set中所依赖的数据也会发生改变
    */
    var vm = new Vue({
        el:'#root',
        data:{
            firstName:"黄",
            lastName:"杰"
        },
        computed:{
            // fullName:{
            //     //完整写法
            //     //初次读取时，get()会被调用
            //     get(){
            //     return this.firstName + this.lastName
            //     },
            //     //set当被修改时被调用
            //     set(value){
            //         const arr = value.split('')
            //         this.firstName=arr[0]
            //         this.lastName=arr[1]
            //     }
            // }
            // 简写：只考虑读取不考虑修改时候
            fullName(){
                return this.firstName + this.lastName 
            }
        }
    })
</script>
</html>