/*首页样式*/
.main{
    width:980px;
    height: 455px;
    margin-left: 219px;
    margin-top: 10px;
}
.fous{
    position: relative;
    width:720px;
    height:455px;
    background-color: purple;
}
.newsflash{
    width: 250px;
    height: 455px;
}
.arrow-l,.arrow-r{
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background-color: pink;
    background: rgba(0,0,0,.3);
    text-align: center;
    line-height: 40px;
    color: white;
    font-family: 'icomoon';
    font-size: 18px;
}
.arrow-r{
    right: 0px;
}
.circle{
    position: absolute;
    bottom: 10px;
    left: 50px;
}
.current{
    background-color: white;
}
.circle li{
    float: left;
    width:8px;
    height: 8px;
    border: 1px solid rgba(255,255,255,0.5);
    cursor: pointer;
    margin: 0 3px;
    border-radius: 50%;
}
.news{
    height: 163px;
    border: 1px solid #ccc;
}
.lifeservice{
    overflow: hidden;
    height: 208px;
    border:1px solid #cccccc;
    border-top: none;
}
.bargain{
    height: 75px;
    margin-top: 5px;
}
.news-hd{
    height: 32px;
    border-bottom: 1px dotted #cccccc;
    font-size: 14px;
    line-height: 32px;
    padding:0 15px;
}
.news-hd a{
    float: right;
    font-size: 12px;
    font-family: 'icomoon';
}
.new-bd{
    padding: 10px 0 0 15px;
}
.new-bd li{
    height: 23px;
}
.lifeservice li{
    position: relative;
    float: left;
    width: 62px;
    height: 70px;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.lifeservice ul{
    width: 252px;
}
.lifeservice li a{
    overflow: hidden;
    display: block;
    height: 100%;
}
.service_ico{
    display: block;
    width:24px;
    height:24px;
    background:url("../img/icons.png") no-repeat;
    margin: 10px auto;
}
.lifeservice li p{
    text-align: center;
}
.service_ico_huafei{
    background-position: -17px -16px;
}
.hop{
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    height: 15px;
    background: url("../img/jian.jpg") no-repeat;
}
.recommend{
    height: 163px;
    margin-top: 10px;
}
.recom-hd{
    width: 200px;
    height: 163px;
    background-color: #5c5251;
    text-align: center;
}
.recom-db{
    width:1000px;
    height:163px;
    background-color: #ebebeb;
}
.recom-hd img{
    margin: 30px 0 10px 0;
}
.recom-hd h3{
    font-size:18px;
    color:white;
    font-weight: normal;
}
.recom-db li{
    width:249px;
    border-right: 1px solid #cccccc;
    height: 145px;
    float: left;
    margin-top: 10px;
}
.recom-db .last{
    border-right: 0;
}
.box-hd{
    height:30px;
    border-bottom: 2px solid #c81623;
    margin-top: 25px;
}
.box-hd h3{
    font-size: 18px;
    color: #c81623;
}
.tab-list{
    line-height: 30px;
}
.tab-list li{
    float: left;
}
.tab-list li a{
    margin: 0 15px;
}
.tab-con li{
    height: 360px;
    float: left;
}
.w209 {
    width: 209px;
    background-color: #f9f9f9;
}
.w329 {
    width: 329px;
}
.w219 {
    width: 219px;
    border-right: 1px solid #ccc;
}
.w220 {
    width: 220px;
    border-right: 1px solid #ccc;
}
.tab-con-item{
    border-bottom: 1px solid #cccccc;
}
.tab-com-list li{
    width:86px;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #cccccc;
    margin-left: 10px;
    text-align: center;
}
.tab-com-list{
    margin-bottom: 15px;
    overflow: hidden;
}
.fixedtool{
    width: 66px;
    position: fixed;
    top: 100px;
    left:50%;
    margin-left: -676px;
    background-color: white;
}
.fixedtool li{
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #cccccc;
    cursor: pointer;
}
.fixedtool .current{
    background-color: #c81623;
    color: white;
}
.box-bd img{
    transition: all 0.5s;
}
.box-bd img:hover{
    margin-left: 5px;
}
.box-bd li{
    overflow: hidden;
}