/*注册页面样式*/
.w{
    width: 1200px;
    margin: auto;
}
.header{
    height: 82px;
    border-bottom: 2px solid #e33333;
}
.logo{
    padding-top: 15px;
}
.registerarea{
    margin-top: 20px;
    border: 1px solid #cccccc;
    height: 520px;
}
.registerarea h3{
    height: 40px;
    border-bottom: 1px solid #cccccc;
    background-color: #cccccc;
    line-height: 40px;
    padding:0 10px;
    font-weight: 400;
    font-size: 18px;
}
.registerarea h3 em{
    float: right;
    font-size: 14px;
}
.registerarea a{
    color: #e33333;
}
.reg_form{
    width:600px;
    height:120px;
    margin: 10px auto;
}
.reg_form label{
    width:100px;
    height:36px;
    line-height: 36px;
    display: inline-block;
    text-align: right;
}
.inp{
    width:238px;
    height:34px;
    border: 1px solid #cccccc;
    margin-left: 10px;
}
.error{
    color: #e33333;
    margin-left: 10px;
}
.error_icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/error.png) no-repeat;
    vertical-align: middle;
    margin-top: -2px;
}
.success{
    color: green;
    margin-left: 10px;
}
.success_icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/success.png) no-repeat;
    vertical-align: middle;
    margin-top: -2px;
}
.safe{
    padding-left: 187px;
    color:#b2b2b2;
}
.safe em{
    padding: 0 12px;
    color: #ffffff;
}
.ruo{
    background-color: #e33333;
}
.zhong{
    background-color: chocolate;
}
.qiang{
    background-color: green;
}
.agree input{
    vertical-align: middle;
    margin-right: 5px;
}
.agree{
    padding-top: 20px;
    padding-left: 113px;
}
.agree a{
    color: #1ba1e6;
}
.over{
    width:200px;
    height:34px;
    background-color:#e33333;
    color: white;
    border: none;
    font-size: 14px;
    margin: 30px 0 0 130px;
}
.footer{
    height: 120px;
    text-align: center;
}
.links{
    margin-top: 20px;
    height: 30px;
}