*{
    margin: 0;
    padding: 0;
}

.box{
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    background-color: #f7f7f7;
    border: 2px solid #e5e5e5;
}
.box1{
    width: 1000px;
    height: 120px;
    border-bottom: 2px solid #e5e5e5;
}
.box1>h1{
    color:#888888;
    font-size: 50px;
    margin-top: 30px;
    margin-left: 100px;
}
form{
    width: 1000px;
    height: 317px;
    margin-top: 65px;
    position: absolute;
}
form>input{
    display: block;
    position: relative;
    width: 717px;
    height: 74px;
    left: 150px;
    border: 2px solid #e5e5e5;
    outline: none;
}
button{
    width: 161px;
    height: 69px;
    bottom: -10px;
    left: 150px;
    background-color: rgb(180, 180, 180);
    border-radius: 10px;
    border: 0;
    font-size: 20px;
    color: white;
    position: relative;
    cursor: not-allowed;
}
.span1{
    width: 145px;
    height: 30px;
    display: block;
    font-size: 20px;
    color: #a5a5a5;
    position: relative;
    top: 50px;
    left: 35px;

}
.span2{
    width: 145px;
    height: 25px;
    display: block;
    font-size: 20px;
    color: #a5a5a5;
    position: relative;
    top: 50px;

}
.input_1::-webkit-input-placeholder {
    color: #a5aba5;
    font-size: 20px;
}
.input_2::-webkit-input-placeholder {
    color: #a5aba5;
    font-size: 20px;
}
.input_1,.input_2{
    font-size: 30px;
    color: #888888;
}
form>p{
    color: red;
    width: 500px;
    height: 30px;
    font-size: 20px;
    margin-left: 150px;
    display: none;
}