.box{
    height: 500px;
    background-color: #455166;
    position: relative;
}
.box>img{
    width: 100%;
    height: 500px;
    opacity: 0.4;
}
.footer{
    width: 100%;
    height: 50px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: #414e64;
}
.left_footer{
    width: 10%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left_footer>span{
    font-size: 20px;

}
.right_footer{
    width: 25%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.center{
    width: 100%;
    height: 30px;
    position: absolute;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 30px;
    color: white;
}
.center_1{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    color: white;
    font-size: 50px;
}
.box1{
    height: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    line-height: 40px;
    color: #66696c;
}
.box2{
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    color: #66696c;
}
.yellow{
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.yellow_1{
    width: 100px;
    height: 8px;
    background-color: #be9e1f;
}
.row>div{
    width:300px;
    height:200px;
    margin-right: 20px;
    margin-top: 20px;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.box3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.container{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
}