.fa-list{
    display:block;
    line-height: 50px;
    font-size: 35px;
}
.fa-github{
    display: none;
}
.text{
    display: none;
}
.pull{
    width: 100%;
    color: black;
}
.left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center{
    display: block;
}
.center>.fa-github{
    display: block;
}