<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width'>
    <title>{{ title }}</title>
</head>
<body>
    
{% block content %}
   <form>
        <div>
            用户名: <input class='username'/>
        </div>
        <div>
            密码: <input class='password'/>
        </div>
        <div>
            再输入: <input class='repassword'/>
        </div>
        <div>
            性别: <select id="select" onchange="getTableType()">
                <option value="0">男</option>
                <option value="1">女</option>
            </select>
        </div>
        <div>
            年龄: <input class="ageEle"/>
        </div>

        <button type="button" class="btn" disabled>注册</button>
    </form>
{% endblock %}

<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>

{% block script %}
const usernameEle = document.querySelector('.username');
const passwordEle = document.querySelector('.password');
const rePasswordEle = document.querySelector('.repassword');
const btnEle = document.querySelector('.btn');
const ageEle = document.querySelector('.ageEle')
const genderEle = document.getElementById('select')
function getTableType(){
    var value=$("#select").val();
        return value
}
// * 初始化状态位置
// * false代表检测没过/true代表通过
let nameFlag = false;
let passwordFlag = false;
let rePasswrodFlag = false;
let ageFlag = false;
// * 用户名检测
usernameEle.onblur = ()=>{
    const val = usernameEle.value;
    // * 非空验证
    if(val){
        $.ajax({
            type:'get',
            url:'http://localhost:3000/checkName',
            data:{
                username : val
            },
            success: (data)=>{

                nameFlag = data.status;
                if(!data.status){
                    alert(data.message);
                }
                controlBtnDisabled();
            }
        })
    }else{
        // * 如果是空，用户名检测不通过
        nameFlag = false;
        controlBtnDisabled();
    }
}

// * 密码检测
passwordEle.onblur = ()=>{
    const val = passwordEle.value;
    
    // * 非空验证
    if(val){
        const reg = /^[a-zA-Z0-9_]{8,15}$/
        passwordFlag = reg.test(val);
        if(!passwordFlag){
            alert('密码不符合要求');
        }
    }else{
        passwordFlag = false;  
    }
    controlBtnDisabled();
}

// * 密码重复检测
rePasswordEle.onblur = ()=>{
    const val = rePasswordEle.value;
    // * 非空
    if(val){
        rePasswrodFlag = val === passwordEle.value;
        if(!rePasswrodFlag){
            alert('两次密码不一致!');
        }
    }else{
        rePasswrodFlag = false;
    }
    controlBtnDisabled();
}
// 前端年龄检测
ageEle.onblur=()=>{
    const ageval = ageEle.value-0;
    //非空验证
    if(ageval){
        if(ageval>120){
            alert('年龄不能大于120岁')
            ageFlag=false
        }else{
            ageFlag=true
        }
    }else{
        ageFlag=false
    }
    controlBtnDisabled()
}

// * 注册按钮
btnEle.onclick = ()=>{
    $.ajax({
        type:'post',
        url:'http://localhost:3000/regist',
        data:{
            username : usernameEle.value,
            password: passwordEle.value,
            age:ageEle.value,
            gender:getTableType()
            
        },
        success:(data)=>{
            if(data.status){
                alert('注册成功');
                location.href=`http://localhost:3000/userinfo/?username=${usernameEle.value}&password=${passwordEle.value}&age=${ageEle.value}&gender=${getTableType()}`
            }else{
                alert(data.message)
            }
        }
    })
}
// * 控制按钮能否点击
function controlBtnDisabled(){
    btnEle.disabled = !(nameFlag && passwordFlag && rePasswrodFlag && ageFlag)
}
{% endblock}
</body>
</html>