{% extends 'layout.njk' %}
{% block content %}
<p>登录状态:{{state}}</p>
<p>用户名:{{username}}</p>
<p>密码:{{password}}</p>
<p>年龄:{{age}}</p>
<p>性别0代表男，1代表女----{{gender}}</p>
<p>{{item.id}}</p>
{% endblock %}
