{% extends 'layout.njk' %}
{% block content %}
<div>
    输入密码:<input type="password" class='input_2'>
    重新密码:<input type="password" class='input_3'>
</div>
{% endblock %}
{% block script %}<script src='/js/passwordregist.js'></script>{% endblock %}