<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../vue框架/vue.js"></script>
</head>
<body>
    <div id="root">
        <!-- <h1 v-if='false'>欢迎来到{{name}}学习</h1> -->
        <!-- template模板 -->
        <!-- template模板与v-if使用 -->
        <h2>当前的n值是:{{n}}</h2>
        <button @click='changeNumber'>点我n++</button>
        <template v-if='n===1'>
            <div>Angular</div>
            <div>React</div>
            <div>Vue</div>
            <div>哈哈</div>
        </template>
    </div>
</body>
<script>
    //v-show是条件渲染，v-show是display为none
    const vm = new Vue({
        el:'#root',
        data() {
            return {
                name:'淮师',
                n:0
            }
        },
        methods: {
            changeNumber(){
                this.n++
            }
        },
    })
</script>
</html>