.box1{
    height: 200px;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 200px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    justify-content: center;
}
.box2{
    width: 95%;
    height: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input{
    outline: none;
    width: 80%;
    height: 20px;
    border-radius: 50px;
    color: white;
    background-color: transparent;
    border: 1px solid #bab7b5;
}
.box3{
    width: 10%;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.my{
    font-size: 12px;
    color: #a7a19f;
}
.fa{
    color: white;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fafafc;
}
.box4{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -72px;
}
.box5{
    width: 95%;
    height: 118px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.box5>div{
    width: 30%;
    height: 100px;
}
.box6{
    background-image: url(../images/nav.png);
    background-position: 4px 11px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.box7{
    background-image: url(../images/nav.png);
    background-position: -69px -70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.box8{
    background-image: url(../images/nav.png);
    background-position: -157px -152px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.box9{
    background-image: url(../images/nav.png);
    background-position: -158px -231px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.box10{
    background-image: url(../images/nav.png);
    background-position: -160px -314px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


