.content{
    height: 230px;
    margin-top: 11px;
    display: flex;
    justify-content: center;
}
.content1{
    width: 95%;
    height: 223px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.content1>div{
    width: 33%;
    height: 33%;
}
.red{
    background-color: #fa8550;
    color: white;
    font-size: 14px;
    text-align: center;
    background-image: url(../images/hotail.png);
    background-repeat: no-repeat;
    background-position: -9px 18px;
}
.red1{
    border-top-left-radius: 20px;
    color: white;
    font-size: 14px;
    text-align: center;
}
.red3{
    border-top-right-radius: 20px;
    color: white;
    font-size: 14px;
    text-align: center;
}
.blue{
    background-color: #52b4ec;
    color: white;
    font-size: 14px;
    text-align: center;
    background-image: url(../images/chair-half.png);
    background-repeat: no-repeat;
    background-position: -4px 42px;
}
.green{
    background-color: #5cce73;
    color: white;
    font-size: 14px;
    text-align: center;
    background-image: url(../images/chair.png);
    background-repeat: no-repeat;
    background-position: -73px -4px;
}
.green4{
    border-bottom-left-radius: 20px;
    color: white;
    font-size: 14px;
    text-align: center;
}
.green5{
    border-bottom-right-radius: 20px;
    color: white;
    font-size: 14px;
    text-align: center;
}

