*{
    margin: 0;
    padding: 0;
}
.footer{
    width: 1920px;
    height: 30px;
    background-color: #e3e4e5;
    display: flex;
    justify-content: center;
}
.list{
    width: 1800px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list_1{
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list_1 i{
    color: #b1191a;
    font-size: 20px;
}
.list .list_2{
    height: 30px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list .bianhong:hover{
    color: red;
}
.footer_1{
    width: 1920px;
    height: 52px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.footer_1 .soushuo{
    width: 500px;
    height: 50px;
    border: 1px solid #cccccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 50px;
    color: #999999;
    font-size: 20px;
}
.footer_1 .anniu{
    width: 90px;
    height: 50px;
    background-color: #d9534f;
    border: 1px solid #cccccc;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}
.footer_2{
    width: 1920px;
    height: 40px;
    display: flex;
    justify-content: center;
}
.footer_2 p{
    width: 600px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #a2a2a2;
}
.list_3{
    width: 1920px;
    height: 80px;
    border-bottom: 2px solid #b1191a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list_3 .list_4{
    width: 180px;
    height: 80px;
    background-color: #b1191a;
    text-align: center;
    line-height: 80px;
    color: white;
    font-size: 20px;
}
.list_5{
    width: 1800px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sy,.fzc,.mzg,.jdcs,.sx,.qqg,.sg,.pm,.jr{
    font-size: 20px;
    color: #b1191a;
}
.list_9{
    width: 1920px;
    height: 491px;
    background-color: #eaeaea;
}
.img{
    width: 1920px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img2{
    width: 1500px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img_1{
    width: 50px;
    height: 50px;
    background-image: url(../img/ico_service.png);
    background-repeat: no-repeat;
    background-position: 6px 7px;
}
.img_2{
    width: 44px;
    height: 44px;
    background-image: url(../img/ico_service.png);
    background-repeat: no-repeat;
    background-position: 6px -42px;
}
.img_3{
    width:44px;
    height: 44px;
    background-image: url(../img/ico_service.png);
    background-repeat: no-repeat;
    background-position: 6px -85px;
}
.img_4{
    width: 44px;
    height: 44px;
    background-image: url(../img/ico_service.png);
    background-repeat: no-repeat;
    background-position: 6px -128px;
}
.img3,.img4,.img5,.img6{
    width: 260px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img3,.img4,.img5,.img6 p{
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
}
.list_10{
    width: 1920px;
    height: 295px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list_11{
    width: 1500px;
    height: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list_12,.list_13,.list_14,.list_15{
    width: 200px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.list_12,.list_13,.list_14,.list_15 p{
    font-size: 20px;
    color: #666666;
}
.p1{
    font-weight: bold;
}
.list_16{
    width: 1920px;
    height: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: #666666;
}
.list_17{
    width: 1920px;
    height: 20px;
    display: flex;
    justify-content: center;
    color: #666666;
    font-size: 20px;
}