*{
    margin: 0;
    padding: 0;
}
.box{
    width: 634px;
    height: 648px;
    border: 1px solid black;
    position: relative;
    margin: 0 auto;
}
.box1{
    width: 100px;
    height: 100px;
    background-color: yellow;
    opacity: 0.4;
    position:absolute;
    top:0;
    left:0;
}
.box1:hover{
    cursor: pointer;
}
.box2{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    /* overflow: hidden; */
    margin-top: 20px;
    margin: 20px auto;
    position: relative;
}
.box2>img{
    position: absolute;
    top: 0;
    left: 0;
}