*{
    margin: 0;
    padding: 0;
}
ol,ul,li{
    list-style: none;
}
.box{
    width: 600px;
    height: 400px;
    border: 1px solid black;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.box > .ul{
   width: 600%;
   height: 100%;
   /* background-color: pink; */
   display: flex;
   transform: translateX(-600px);
}
.box>.ul>li{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
}
.box > ol{
    width: 200px;
    height: 20px;
    background-color: #70799c;
    /* opacity: 0.5; */
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 350px;
    left: 200px;
}
.box > ol > li{
    width: 20px;
    height: 20px;
    background-color: rgb(214, 214, 214);
    border-radius: 50px;
    cursor: pointer;
}
.left{
    width: 25px;
    height: 25px;
    background-color: #70799c;
    position: absolute;
    top: 185px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(204, 204, 204);
    cursor: pointer;
}
.left>span{
    font-size: 20px;
}
.right>span{
    font-size: 20px;
}

.right{
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-color: #70799c;
    position: absolute;
    top: 185px;
    right: 0;
    /* opacity: 0.5; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(192, 192, 192);
}
.right:hover{
    color: white;
}
.left:hover{
    color: white;
}
.box > ol > .active{
    background-color: red;
}